[x] Use of templates
[x] Use of a database
[x] Use of express plugin libraries
[x] User registration
[x] - cookies and session
[x] - hashing of passwords
[x] - JSON Web token
[x] - Error handling

Full CRUD (application specific)
- create
- edit
- delete
- details
- catalog






