[x] Use of templates
[] Use of a database
 User registration
[] - cookies and session
[] - hashing of passwords
[] - JSON Web token
[] - Error handling

Full CRUD (application specific)
- create
- edit
- delete
- details
- catalog




